
<!-- header part-->
<%- include('./partials/header')%>

    <h1>Horror page</h1>
    <p>hy this is lalla</p>
    <ul>
        <li>goutam</li>
        <li>gurjar</li>
        <li>sahaj</li>
        <li>kanu</li>
    </ul>

<!-- footer part -->
<%- include('./partials/footer') %>
    