<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>displaying all user details </h1>

    <% userDetails.forEach(function(user) { %>
        <h2>Name: <%= user.name %></h2>
        <img src="<%= user.img %>" alt="<%= user.name %>">

    <% } %>
</body>
</html>