<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying a perticuler Product</h1>

    <div>

        <h1> <%=foundProduct.name%> </h1>
        <img src= "<%=foundProduct.img%>" >
        <h3> <%=foundProduct.price%> </h3>
        <p> <%=foundProduct.desc%> </p>  
        <!-- then go on index.ejs page last me hme show this btn bnayege jispr id ke through hm Perticuler product ko dekh payege and id hme jo  bhi hmare DB me hogi bhi milegi->   http://localhost:8080/products/65a026a9349399d87fde75eb-->

    </div>
</body>
</html>