<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Product form</h1>

    <form action="/products" method="POST">  <!--action="/products"  per post req. se add hoga new product  -->
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="pic">Image:</label>
            <input type="text" name="img" id="pic">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" name="price" id="price">
        </div>
        <div>
            <label for="des">Description:</label>
            <textarea type="text" name="desc" rows="5" id="des"></textarea>
        </div>
        <button type="submit">Add Product</button>
</body>
</html>